body {
  margin: 0;
  padding: 0; 
  font-family: Arial, sans-serif; 
   color: #67748a;  
}


 form .css-1u3bzj6-MuiFormControl-root-MuiTextField-root label ,
 .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused  {
  color: #c8ccd9 !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root  ,
 .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, 
 .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root, 
 .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root 
  {
border-radius: 12px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 10px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #c8ccd9 !important;
}

.calender-icon {
  padding: 8px;
  border: 2px solid #c8ccd9;
  border-radius: 10px;
  cursor: pointer;
  height: 44px;
}

.css-ahj2mt-MuiTypography-root {
  white-space: nowrap; /* Prevent label text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis for overflow */
  display: inline-block; /* Ensure inline display */
  max-width: 100%; 
  letter-spacing: 0 !important;

}

.padding-zero {
  padding-left: 0;
  padding-right: 0;
}

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  background: white !important;
  padding-right: 5px !important;
}

.icon-border {
  width: 38px;
    height: 38px; 
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(200, 204, 217);
    text-align: center; 
}


@media (max-width: 992px) {
  .padding-zero {
    /* padding-left: 12px !important; */
    padding-right: auto !important;
  }
  .css-ahj2mt-MuiTypography-root  {
    white-space: normal;
  }
}

@media (max-width: 772px) {
  .padding-zero {
    padding-left: 12px !important;
   
  }
 
}